RHT_OCP4_MASTER_API=https://api.eu45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu45.prod.nextcle.com
RHT_OCP4_DEV_USER=spokhyan-ibm
RHT_OCP4_DEV_PASSWORD=4b97293f71ae4e278bbf
RHT_OCP4_GITHUB_USER=spokhyan
RHT_OCP4_QUAY_USER=spokhyan_ibm
