{
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script",
  },
  "rules": {
    "strict": 0,
    "no-param-reassign": [
      "error",
      { "props": false }
    ],
    "func-names": 0,
    "comma-dangle": 0,
    "prefer-template": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "no-bitwise": ["error", { "allow": ["~"] }]
  },
  "globals": {
    "describe": true,
    "it": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "should": true,
    "reqServer": true
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
