<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<settings>
        <mirrors>
         <mirror>
         <id>internal-repository</id>
         <name>Maven Repository Manager for classroom</name>
         <url>http://nexus-infra.apps.ocp4.example.com/repository/java</url>
         <mirrorOf>*</mirrorOf>
         </mirror>
       </mirrors>
</settings>

