<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
        <mirrors>
         <mirror>
         <id>internal-repository</id>
         <name>Maven Repository Manager for classroom</name>
         <!-- // TODO: Change the url attribute to the nexus proxy server URL for your environment. -->
         <url>http://nexus-common.apps.ocp-eu2.prod.nextcle.com/repository/java</url>
         <mirrorOf>*</mirrorOf>
         </mirror>
       </mirrors>
</settings>
